/* .container{
    background-color: blue;
} */
body{
     background-color: lightblue;
}

p{
    font-size:25px;
}
h1{
    text-align: center;
    border:2px solid rgb(41, 221, 137);
    background-color: dodgerblue;
    font-size: 50px;
    
    
}
.sanji{
    height:400px;
    padding-right: 45px;
    padding-left: 15px;
    
}
.sanji2{
    height:400px;
    

}
.border{
    border: 2px solid black;
}
